@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;

    display: flex;

    min-height: 100vh;
}

header {
    background-color: #4263eb;
    padding: 2rem 3rem;
}

a {
    text-decoration: none;
    color: white;
}

main {
    margin-top: 5rem;
    margin-bottom: 25rem;
    padding: 0 10rem;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;
}

.decoration-line {
    position: absolute;
    top: 0;
    right: 0;
    height: 0.7rem;
    width: 100%;

    background-image: linear-gradient(to right, #4263eb, 80%, #12b886);
}

.decoration-line2 {
    background-color: #12b886;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.7rem;
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    margin-bottom: 5rem;
}

.page-heading h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

    margin-bottom: 0.5rem;
}

.page-heading div {
    display: flex;
    gap: 2rem;
}

.vertical-heading--part {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2rem;
    color: #adb5bd;
    letter-spacing: 0.1rem;
}

.vertical-heading--part::first-letter {
    font-size: 4rem;
    font-weight: 600;
    color: white;
}

.navbar-list {
    list-style: none;
}

.navbar-list--item {
    padding: 1rem 6rem;

    border-radius: 1rem;
    border: transparent 0.2rem solid;

    text-transform: uppercase;
    font-size: 1.5rem;

    margin-bottom: 2rem;

    transition: linear 0.25s;
}

.navbar-list--item:hover {
    box-shadow: 0rem 1rem white;
    border: white solid 0.2rem;
}

footer {
    position: absolute;
    bottom: 0;

    width: 100%;

    background-image: linear-gradient(to right, #5f3dc4, 80%, #12b886);

    padding: 4rem;

    text-align: center;
    font-size: 1.5rem;
}