@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;

    padding-right: 1rem;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    background-image: linear-gradient(to bottom right, #4263eb, #12b886);
}

header {
    background-color: transparent;
    padding: 2rem 3rem;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 0 10rem;
    color: black;

    min-height: 80%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    min-height: 80vh;

    background-color: white;

    border-radius: 0.7rem;
}

.flex-wrapper {
    display: flex;
    flex-grow: 1;
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-heading {
    margin-bottom: 5rem;
}

.page-heading h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

    margin-bottom: 0.5rem;
}

.page-heading div {
    display: flex;
    gap: 2rem;
}

.vertical-heading--part {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 2rem;
    color: #adb5bd;
    letter-spacing: 0.1rem;
}

.vertical-heading--part::first-letter {
    font-size: 4rem;
    font-weight: 600;
    color: white;
}

.navbar-list {
    list-style: none;
}

.navbar-list--item {
    padding: 1rem 4rem;

    border-radius: 1rem;
    border: transparent 0.2rem solid;

    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;

    margin-bottom: 2rem;

    transition: linear 0.25s;
}

.navbar-list--item:hover {
    box-shadow: 0rem 1rem white;
    border: white solid 0.2rem;
}

footer {
    width: 100%;

    padding: 4rem;

    text-align: center;
    font-size: 1.5rem;

    background-color: transparent;
}

/* index.html */

.themes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;

    margin-top: 5rem;
    padding-bottom: 5rem;
}

.theme {
    color: #495057;
    position: relative;

    max-width: 35vw;

    background-color: aquamarine;
    padding: 3rem;
    border-radius: 1rem;
    overflow-wrap: break-word;
}


.theme-info,
.theme-description {
    margin-left: 0.5rem;
}

.theme h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #495057;

    margin-bottom: 1rem;
}

.theme-description {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.theme-consultant,
.theme-student,
.theme-section {
    font-size: 1.7rem;
    margin: 1rem 0;
}

.person-anchor {
    color: #495057;
    text-decoration: underline;
}

.theme-state {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    padding: 0.8rem;
    border-radius: 0.7rem;

    font-size: 2rem;
    font-weight: 700;
}

.available {
    color: #00c400;
    border: solid 0.2rem #00c400;
}

.unavailable {
    color: red;
    border: solid 0.2rem red;
}

.pending {
    color: orange;
    border: solid 0.2rem orange;
}