<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for theme in themes %}
        <div class="">
            <h2>{{ theme.name }}</h2>
            <p>{{ theme.description }}</p>
            <p>Konzultant: {{ theme.consultant.name }} {{ theme.consultant.surname }}</p>
            <p>Študent: {{ theme.student.name }} {{ theme.student.surname }}</p>
        </div>
    {% endfor %}
</body>
</html>