{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% block styles %}{% endblock  %}
    <title>Moja SOČ</title>
</head>
<body>
    <div id="decoration-line" class="decoration-line"></div>
    <div class="decoration-line2"></div>
    <header id="header">
        <nav class="navbar">
            <div class="page-heading">
                <h1>moja</h1>
                <div>
                    <span class="vertical-heading--part">Stredná</span>
                    <span class="vertical-heading--part">Odborná</span>
                    <span class="vertical-heading--part">Činnosť</span>
                </div>
            </div>
            <ul class="navbar-list">
                <a href=""><li class="navbar-list--item">Registrácia</li></a>
                <a href=""><li class="navbar-list--item">Odhlásiť sa</li></a>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>&copy; CrazyBanas3008</footer>
    <script src="{% static "js/app.js" %}"></script>
    {% block scripts %}{% endblock  %}
</body>
</html>