{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% block styles %}{% endblock  %}
    <title>Moja SOČ</title>
</head>
<body>
    <div class="flex-wrapper">
        <header id="header">
            <nav class="navbar">
                <a href="{% url "index" %}">
                    <div class="page-heading">
                        <h1>moja</h1>
                        <div>
                            <span class="vertical-heading--part">S</span>
                            <span class="vertical-heading--part">O</span>
                            <span class="vertical-heading--part">Č</span>
                        </div>
                    </div>
                </a>
                <ul class="navbar-list">
                    <a href="{% url "create" %}"><li class="navbar-list--item">Pridať tému</li></a>
                    <a href="{% url "statistics" %}"><li class="navbar-list--item">Štatistiky</li></a>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}

            {% endblock %}
        </main>
    </div>
    <footer>&copy; CrazyBanas3008</footer>
    {% block scripts %}{% endblock  %}
</body>
</html>