{% extends "layouts/app.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "css/create.css" %}">
{% endblock  %}

{% block content %}
<h1 class="create-heading">Pridaj tému</h1>
<form action="{% url "create" %}" method="POST" class="create-form">
    {% csrf_token %}
    <input class="name-input" type="text" name="name" placeholder="Názov" required>
    <textarea name="description" placeholder="Popis" required></textarea>
    <select class="section-select" name="section" id="" required>
        {% for section in sections %}
            <option value="{{ section.id }}">{{ section.name }}</option>
        {% endfor %}
    </select>
    <select class="consultant-select" name="consultant" id="" required>
        {% for consultant in consultants %}
            <option value="{{ consultant.id }}">{{ consultant.name }} {{ consultant.surname }}</option>
        {% endfor %}
    </select>
    <select class="student-select" name="student" id="">
        <option value="">Študent</option>
        {% for student in students %}
            <option value="{{ student.id }}">{{ student.name }} {{ student.surname }}</option>
        {% endfor %}
    </select>
    <input class="submit" type="submit" value="Vytvoriť">
</form>
{% endblock  %}